
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Given Name
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    Gender
                </td>
                <td>
                    Birthday
                </td>
                <td>
                    Marital Status
                </td>
                <td>
                    Action
                </td>
            </tr>
        </thead>
    </table>
</body>
</html>
