################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
eCommerce.Net\MyOnlineShop\obj\Debug
eCommerce.Net\.vs