################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eCommerce.Net/.vs/eCommerce.Net/v16/Server/sqlite3
/eCommerce.Net/MyOnlineShop/obj/Debug/netcoreapp3.1
